<h1>Pages#main</h1>

<p>
Thanks for coming to Oats, Rice and Veg the time is <%= @time %>!

<%= link_to "Click through to the Donabes!", "/products" %>
</p>
<p>Find me in app/views/pages/main.html.erb</p>
