<h1>Oats Rice and Veg</h1>

<p>
Thanks for coming to Oats, Rice and Veg the time is <%= @time %>!
<p> We're just getting started. </p>
<%= link_to "Enough peasant! Show me the Donabes!", "/products" %>
</p>
