<h1>Oats Rice and Veg</h1>

<p>
Thanks for coming to Oats, Rice and Veg the time is <%= @time %>!
<p> Ebby and Sam are so excited to show you a new way to cook healthy. <3 </p>
<%= link_to "Take me to the Donabe's!", "/products" %>
</p>
